@model ContactDetailViewModel;


<strong>First name:</strong>
<p>@Model.FirstName</p>

<strong>Second name:</strong>
<p>@Model.SecondName</p>

<strong>Phone number:</strong>
<p>@Model.PhoneNumber</p>

<strong>Address:</strong>
<p>@Model.Address</p>

<strong>Email:</strong>
<p>@Model.Email</p>

<strong>Description:</strong>
<p>@Model.Description</p>
