@model ContactDetailViewModel;

<label asp-for="PhotoUrl"></label>
<br />
<img src="@Model.PhotoUrl" class="photo-url" />

<strong>First name:</strong>
<p>@Model.FirstName</p>

<strong>Second name:</strong>
<p>@Model.SecondName</p>

<strong>Birthdate:</strong>
<p>@Model.Birthdate.ToShortDateString()</p>

<strong>Age:</strong>
<p>@CalculateAge(@Model.Birthdate)</p>

<strong>Phone number:</strong>
<p>@Model.PhoneNumber</p>

<strong>Address:</strong>
<p>@Model.Address</p>

<strong>Email:</strong>
<p>@Model.Email</p>

<strong>Category:</strong>
<p>@Model.Category</p>

<strong>Description:</strong>
<p>@Model.Description</p>

@functions{
    double CalculateAge(DateTime birthday)
    {
        double age = Math.Round(DateTime.Now.Subtract(birthday).TotalDays / 365.25, 0);
        return age;
    }
}
